@using System.Reflection;
@using Lombiq.Hosting.BuildVersionDisplay;

@{
    var webAppAssembly = Assembly.GetEntryAssembly();

    // These can't be null as long as the code actually compiles.
#pragma warning disable CS8602 // Dereference of a possibly null reference.
    var orchardVersion = typeof(OrchardCore.IOrchardHelper).Assembly.GetName().Version.ToString();
    var buildVersion = webAppAssembly.GetName().Version.ToString();
#pragma warning restore CS8602 // Dereference of a possibly null reference.

    // When using the module from from NuGet the web app's binaries will contain the attribute, when using it from
    // source, the module's.
    var webAppAttribute = webAppAssembly.GetCustomAttribute<BuildUrlAttribute>();
    var buildUrl = webAppAttribute?.Url;
    if (string.IsNullOrEmpty(buildUrl))
    {
        var moduleAttribute = Assembly.GetExecutingAssembly().GetCustomAttribute<BuildUrlAttribute>();
        buildUrl = moduleAttribute?.Url;
    }
}

<div id="lombiq-hosting-build-version-display-build-version">
    @T["Build versions:"]
    <ul>
        <li>
            @T["Orchard Core version: {0}", orchardVersion]
        </li>
        <li>
            @T["App build version: {0}", buildVersion]
        </li>
        @if (!string.IsNullOrEmpty(buildUrl))
        {
            <li>
                @T["<a href=\"{0}\" target=\"_blank\">Build link</a>", buildUrl]
            </li>
        }
    </ul>
</div>
