@{
    var orchardVersion = typeof(OrchardCore.IOrchardHelper).Assembly.GetName().Version.ToString();
    var buildVersion = "#build.version#";

    // The placeholder wasn't replaced, using the default.
    if (buildVersion == "#build.version#")
    {
        buildVersion = System.Reflection.Assembly.GetEntryAssembly().GetName().Version.ToString();
    }
}

<div id="lombiq-hosting-buildversiondisplay-buildversion">
    @* Html.Raw() is necessary so links can be included in the replaced build version. *@
    @T["Orchard Core version: {0} Build version: {1}", orchardVersion, Html.Raw(buildVersion)]
</div>
